.Ida{
    text-align: right;
}
button{
    padding: 8px;
    border-radius: 9%;
    border-color: blue;
}
button:hover{
    text-emphasis-color:white;
    background-color: blue;
}
.google{
    text-align: center;
    font-size: 90px;
    font-display: 20%;
}
.Lui{
    text-align: center;
    padding: 3%;
    font-size: 40%;
}
.pen{
    text-align: center;
    font-size: 40%;
}
.Gen{
    text-align: right;
}
.Duo{
    padding: 3%
}
.Bio{
    text-align: center;
}
input{
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    border-color: rgb(165, 145, 145);
}
.submit{
    display: flex;
    justify-content: center;
}
